.wd-rounded-corners-all-around-video {
    border-radius: 20px;
}

.wd-ellipse {
    color: white;
    width: 10px;
    float: right;
}

.wd-rounded-corners-all-around-images {
    border-radius: 10px;
}

.wd-display-inline {
    display: inline;
}

.wd-colour {
    color: rgb(110, 118, 125);
}

.wd-trending-2 {
    color: white;
    padding: 16px;
    border-top: 2px solid rgb(48, 50, 53);
    display: flex;
    justify-content: space-between;
}


.wd-settings {
    margin-right: 12px;
    margin-top: 6px;
}


.wd-settings .wd-settings-icon {
    margin-right: 12px;
    float: right;
    color: rgb(29, 161, 242);
}


.wd-trending-1 {
    padding: 16px;
    border-top: 2px solid rgb(48, 50, 53);
    display: flex;
    color: white;
    justify-content: space-between;
}


.wd-nav-tabs .wd-selected-blue {
    border-bottom: solid 3px rgb(29, 161, 242);
    color: rgb(29, 161, 242);
    padding: 16px;
    font-size: 15px;
}

.wd-nav-tabs .wd-selected-grey {
    color: rgb(110, 118, 125);
    padding: 16px;
    font-size: 15px;
}

.wd-padding-container .wd-nav-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 98%;
    padding-left: 2%;
    text-align: center;
    font-weight: 600;
}


.wd-search-bar .wd-search-bar-1 {
    border: none;
    background-color: rgb(33, 35, 39);
    width: 100%;
    outline: none;
}

.wd-search-bar .wd-search-icon {
    padding-right: 15px;
    padding-left: 5px;
    color: white;
}

.wd-part-1 .wd-search-bar {
    border-radius: 20px;
    width: 72%;
    margin-left: 45px;
    display: flex;
    align-items: center;
    background-color: rgb(33, 35, 39);
    padding: 10px;

}

.wd-padding-container .wd-part-1 {
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wd-padding-container .wd-part-2 {
    margin-top: 30px;
}

.wd-padding-container .wd-part-3 {

    background-color: rgb(23, 24, 29);
    height: 10px;
    border-top: 3px solid rgb(49, 51, 54);
}

.wd-padding-container .wd-part-4 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wd-padding-container .wd-part-5 {

}


.wd-padding-container {
    border-right: 2px solid rgb(49, 51, 54);
    border-left: 2px solid rgb(49, 51, 54);
    margin: 0% 10% 0% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}





